@import 'style.sass'

.container-fluid
    width: 88% !important

.topbar
    position: relative !important
    top: 0px
    height: auto
    .row
        height: auto !important
    p
        font-size: 14px !important
        font-family: $fontPoppins
        font-weight: 500 !important
    .left-img
        img
            height: 35px
            margin-right: 20px
            object-fit: contain
    .right
        .heading
            font-weight: bold !important

.active
    color: #fff !important

.ds-header, .ds-header .container-fluid
    background: $brandcolor !important

.ds-header
    .p-menu
        i
            color: #fff !important
        ul li a
            color: #000 !important
    .globalbtn
        background: #b5b5b547 !important
        padding: 12px 25px !important
        i
            color: #fff !important
        &:hover
            background: #fff !important
            color: $brandcolor !important
            i
                color: $brandcolor !important

header
    position: sticky
    top: 0px
    width: 100%
    left: 0px
    z-index: 1000
    margin-bottom: 0px
    a
        font-family: $fontPoppins !important
        color: #fff !important
    li
        margin-bottom: 0px
        padding-bottom: 0px
    .row
        height: 70px

#CtSpinner
    display: none

.navb
    ul
        li:not(:last-child)
            margin-right: 40px

.p-menu:hover > .submenu
    display: block

.ds-header
    display: block
.mb-header
    display: none

header .container-fluid 
    background: #Ffff !important

header a, header i, header p 
    font-size: 1.125rem
    font-weight: 500

.position-ll
    position: relative
    top: 4px

.p-menu
    position: relative
    padding-bottom: 8px
    padding-top: 8px

.submenu
    position: absolute
    top: 45px
    border: 2px solid rgba(0, 0, 0, 0.2)
    z-index: 1
    background: #fff
    display: none
    width: 295px
    padding-left: 20px
    padding-top: 10px
    padding-bottom: 5px
    left: -16px
    border-radius: 10px
    border-top: 4px solid #24738a
    li
        padding-bottom: 15px!important
        a
            font-size: 1rem

#menuburgar,#closeiconmenu
    display: none

.whatsapp
    position: fixed!important
    bottom: 20px!important
    right: 20px!important
    z-index: 999!important

.login-div .submenu
    width: 160px !important

.drotate
    transform: rotate(178deg)

header
    a
        &:hover
            color: #fff !important

.logo
    img
        width: 195px

@media only screen and (max-width:1300px)
    .navb ul li:not(:last-child)
        margin-right: 35px
    .logo
        img
            width: 185px

@media only screen and (max-width:768px)
    .topbar
        display: none

    #mbnav
        display: none

    #mbnav
        position: fixed
        top: 69px
        width: 100%
        padding: 0px !important
        margin: 0px !important
        left: 0px
        z-index: 1000
        padding-left: 20px !important
        padding-top: 20px !important
        background: rgb(255, 255, 255)
        border-bottom: 1px solid rgba(0, 0, 0, 0.267)
        box-shadow: rgb(0 0 0 / 25%) 0px 2px 12px 1px
        ul
            li
                display: block!important
                margin-bottom: 26px!important
                a
                    font-size: 1rem!important
                    font-weight: 800 !important

    .container-fluid
        width: 100% !important
    #menuburgar
        display: block
        i
            font-size: 18px
            margin-right: 10px
    .mb-header
        display: block
    #mbnav
        ul, li
            display: block !important
    #closeiconmenu
        i
            font-size: 18px
            margin-right: 20px

    header
        .logo
            img
                height: 70px
                object-fit: contain
        .row
            height: 70px

    .whatsapp
        text-align: right
        img
            width: 70%

    #mbnav
        .submenu
            position: relative
            top: 12px
            border: 0px solid rgba(0, 0, 0, 0.2)
            z-index: 1
            background: #fff
            width: 100%
            padding-left: 25px
            padding-top: 10px
            padding-bottom: 0px
            left: -16px
            border-radius: 10px
            margin-bottom: -12px
            li
                margin-bottom: 6px !important
                a
                    font-weight: 500 !important
