h1, h2, h3, h4, h5, h6 {
  font-family: "Alexandria", sans-serif;
  color: #000;
}

p, ul, li, span, a, i, strong, div, body {
  font-family: "Poppins", sans-serif;
  color: #453d3d;
}

.bg-blue {
  background: #24748c !important;
}

.bg-yellow {
  background: #f9f2eb !important;
}

body {
  background: #f7f7f7;
}
body p, body h3, body h3, body h1, body span {
  background-color: transparent !important;
}

a {
  color: #453d3d;
  text-decoration: none !important;
}

p {
  margin-bottom: 0px !important;
  font-size: 1rem !important;
}

.prev-arrow, .next-arrow {
  position: absolute;
  top: 50%;
  z-index: 999;
  font-size: 21px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  left: -1px;
  padding: 10px 20px;
}

.next-arrow {
  right: 0px;
  left: auto;
}

.prev-arrow:hover, .next-arrow:hover {
  background: #fff !important;
  color: #000 !important;
  border-color: #fff !important;
}

.globalbtn {
  background: #24748c;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  display: inline-block;
  font-size: 1rem;
  z-index: 2;
}
.globalbtn:hover {
  background: #000;
}

.badge-section {
  background: #eaf7ff !important;
  padding: 20px 0px;
}
.badge-section a {
  color: #000 !important;
}

@media only screen and (max-width: 768px) {
  .globalbtn {
    font-size: 16px !important;
  }
  .prev-arrow, .next-arrow {
    top: 46%;
    z-index: 999;
    font-size: 9px;
    background: transparent;
    color: #fff;
    border: 2px solid #b8b6b6;
    padding: 5px 5px;
  }
}
.container-fluid {
  width: 88% !important;
}

.topbar {
  position: relative !important;
  top: 0px;
  height: auto;
}
.topbar .row {
  height: auto !important;
}
.topbar p {
  font-size: 14px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
}
.topbar .left-img img {
  height: 35px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}
.topbar .right .heading {
  font-weight: bold !important;
}

.active {
  color: #fff !important;
}

.ds-header, .ds-header .container-fluid {
  background: #24748c !important;
}

.ds-header .p-menu i {
  color: #fff !important;
}
.ds-header .p-menu ul li a {
  color: #000 !important;
}
.ds-header .globalbtn {
  background: rgba(181, 181, 181, 0.2784313725) !important;
  padding: 12px 25px !important;
}
.ds-header .globalbtn i {
  color: #fff !important;
}
.ds-header .globalbtn:hover {
  background: #fff !important;
  color: #24748c !important;
}
.ds-header .globalbtn:hover i {
  color: #24748c !important;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  left: 0px;
  z-index: 1000;
  margin-bottom: 0px;
}
header a {
  font-family: "Poppins", sans-serif !important;
  color: #fff !important;
}
header li {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
header .row {
  height: 70px;
}

#CtSpinner {
  display: none;
}

.navb ul li:not(:last-child) {
  margin-right: 40px;
}

.p-menu:hover > .submenu {
  display: block;
}

.ds-header {
  display: block;
}

.mb-header {
  display: none;
}

header .container-fluid {
  background: white !important;
}

header a, header i, header p {
  font-size: 1.125rem;
  font-weight: 500;
}

.position-ll {
  position: relative;
  top: 4px;
}

.p-menu {
  position: relative;
  padding-bottom: 8px;
  padding-top: 8px;
}

.submenu {
  position: absolute;
  top: 45px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: #fff;
  display: none;
  width: 295px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  left: -16px;
  border-radius: 10px;
  border-top: 4px solid #24738a;
}
.submenu li {
  padding-bottom: 15px !important;
}
.submenu li a {
  font-size: 1rem;
}

#menuburgar, #closeiconmenu {
  display: none;
}

.whatsapp {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  z-index: 999 !important;
}

.login-div .submenu {
  width: 160px !important;
}

.drotate {
  transform: rotate(178deg);
}

header a:hover {
  color: #fff !important;
}

.logo img {
  width: 195px;
}

@media only screen and (max-width: 1300px) {
  .navb ul li:not(:last-child) {
    margin-right: 35px;
  }
  .logo img {
    width: 185px;
  }
}
@media only screen and (max-width: 768px) {
  .topbar {
    display: none;
  }
  #mbnav {
    display: none;
  }
  #mbnav {
    position: fixed;
    top: 69px;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
    left: 0px;
    z-index: 1000;
    padding-left: 20px !important;
    padding-top: 20px !important;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 12px 1px;
  }
  #mbnav ul li {
    display: block !important;
    margin-bottom: 26px !important;
  }
  #mbnav ul li a {
    font-size: 1rem !important;
    font-weight: 800 !important;
  }
  .container-fluid {
    width: 100% !important;
  }
  #menuburgar {
    display: block;
  }
  #menuburgar i {
    font-size: 18px;
    margin-right: 10px;
  }
  .mb-header {
    display: block;
  }
  #mbnav ul, #mbnav li {
    display: block !important;
  }
  #closeiconmenu i {
    font-size: 18px;
    margin-right: 20px;
  }
  header .logo img {
    height: 70px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  header .row {
    height: 70px;
  }
  .whatsapp {
    text-align: right;
  }
  .whatsapp img {
    width: 70%;
  }
  #mbnav .submenu {
    position: relative;
    top: 12px;
    border: 0px solid rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: #fff;
    width: 100%;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 0px;
    left: -16px;
    border-radius: 10px;
    margin-bottom: -12px;
  }
  #mbnav .submenu li {
    margin-bottom: 6px !important;
  }
  #mbnav .submenu li a {
    font-weight: 500 !important;
  }
}/*# sourceMappingURL=header.css.map */