$hcolor: #000
$pcolor: #453d3d
$brandcolor: #24748c
$fontManrope: "Manrope", sans-serif
$fontlato: "Lato", sans-serif
$fontOpenSans: "Open Sans", sans-serif
$fontPlusJakartaSans: "Plus Jakarta Sans", sans-serif

.hero-section
    overflow: hidden
    position: relative
    .slide:nth-child(1) .slide__inner
        background-image: url(/assets/front/imgs/banners/1.jpg)
    .slide:nth-child(2) .slide__inner
        background-image: url(/assets/front/imgs/banners/2.jpg)
    .slide:nth-child(3) .slide__inner
        background-image: url(/assets/front/imgs/banners/1.jpg)
    .slide:nth-child(4) .slide__inner
        background-image: url(/assets/front/imgs/banners/2.jpg)
    .slide:nth-child(5) .slide__inner
        background-image: url(/assets/front/imgs/banners/1.jpg)

.first-section
    background: #eaf7ff
    h2
        font-size: 45px
        font-weight: 800
        span
            color: $brandcolor
    ul
        list-style: none !important
        padding: 0px !important
    .wrapper
        margin-top: 50px
    .card__title
        font-size: 20px
        font-family: $fontManrope
        font-weight: bold
        color: #000 !important
        transition: font-size var(--trans-duration)
        text-transform: capitalize
    .card__description
        .heading
            font-size: 18px !important
            font-weight: bold !important
            color: $brandcolor !important
            font-family: $fontPlusJakartaSans !important
            text-transform: capitalize
        p
            font-size: 16px !important
            font-family: $fontlato !important
            margin-bottom: 10px !important
            color: #000 !important
            text-transform: capitalize
        
@media only screen and (max-width:768px)
    .slider__control-line
        left: 15px
        top: 50%
        width: 3px

    .slider__control
        top: 50%
        left: 10%
        width: 44px
        height: 44px
    .slider__control--right
        left: auto
        right: 10px
    .slider__control--right .slider__control-line
        left: 28px
    .slide
        width: 100vmax
        height: 115vmax
