$hcolor: #000
$pcolor: #453d3d
$brandcolor: #24748c
$fontManrope: "Manrope", sans-serif
$fontlato: "Lato", sans-serif
$fontOpenSans: "Open Sans", sans-serif
$fontPlusJakartaSans: "Plus Jakarta Sans", sans-serif

.hero-section
    overflow: hidden
    position: relative
    .slide:nth-child(1) .slide__inner
        background-image: url(/assets/front/imgs/banners/1.webp)
    .slide:nth-child(2) .slide__inner
        background-image: url(/assets/front/imgs/banners/2.jpg)
    .slide:nth-child(3) .slide__inner
        background-image: url(/assets/front/imgs/banners/1.jpg)
    .slide:nth-child(4) .slide__inner
        background-image: url(/assets/front/imgs/banners/2.jpg)
    .slide:nth-child(5) .slide__inner
        background-image: url(/assets/front/imgs/banners/1.jpg)

.first-section
    background-image: url(/assets/front/imgs/eye-banner-1.webp)
    background-size: cover
    background-position: center center
    background-attachment: fixed
    margin-top: -70px
    .bg-layer
        padding-top: 120px
        background: #eaf7ffeb
    h2
        font-size: 45px
        font-weight: 800
        span
            color: $brandcolor
    ul
        list-style: none !important
        padding: 0px !important
    .wrapper
        margin-top: 50px
    .card__title
        font-size: 20px
        font-family: $fontManrope
        font-weight: bold
        color: #000 !important
        transition: font-size var(--trans-duration)
        text-transform: capitalize
    .card__description
        .heading
            font-size: 18px !important
            font-weight: bold !important
            color: $brandcolor !important
            font-family: $fontPlusJakartaSans !important
            text-transform: capitalize
        p
            font-size: 16px !important
            font-family: $fontlato !important
            margin-bottom: 10px !important
            color: #000 !important
            text-transform: capitalize
    .card__image
        img
            width: 100%

@media only screen and (max-width:768px)
    .hero-section
        .slide:nth-child(1) .slide__inner
            background-image: url(/assets/front/imgs/banners/1-mb.webp)
        .slide:nth-child(2) .slide__inner
            background-image: url(/assets/front/imgs/banners/2.jpg)
        .slide:nth-child(3) .slide__inner
            background-image: url(/assets/front/imgs/banners/1.jpg)
        .slide:nth-child(4) .slide__inner
            background-image: url(/assets/front/imgs/banners/2.jpg)
        .slide:nth-child(5) .slide__inner
            background-image: url(/assets/front/imgs/banners/1.jpg)

    .slider__control-line
        left: 15px
        top: 50%
        width: 3px

    .slider__control
        top: 50%
        left: 10%
        width: 44px
        height: 44px
    .slider__control--right
        left: auto
        right: 10px
    .slider__control--right .slider__control-line
        left: 28px
    .slide
        width: 100vmax
        height: 115vmax
    .slider
        height: 60vh
    .slide__inner
        position: absolute
        left: 50%
        top: 67%
        width: 100vw
        height: 61vh
        margin-left: -50vw
        margin-top: -50vh
        background-size: cover
        background-position: center center

@media only screen and (max-width:768px) and (max-height: 700px)
    .slider
        height: 77vh
    .slide__inner
        top: 60%
        height: 77vh

@media only screen and (max-width:768px) and (max-height: 600px)
    .slider
        height: 80vh
    .slide__inner
        top: 56%
        height: 80vh
    .slide
        height: 164vmax

@media only screen and (max-width:768px) and (max-height: 550px)
    .slider
        height: 94vh
    .slide__inner
        top: 52%
        height: 95vh
    .slide
        height: 164vmax
