$hcolor: #000
$pcolor: #453d3d
$brandcolor: #24748c
$fontManrope: "Manrope", sans-serif
$fontlato: "Lato", sans-serif
$fontOpenSans: "Open Sans", sans-serif
$fontPlusJakartaSans: "Plus Jakarta Sans", sans-serif

.badge-section
    background: #eaf7ff!important
    padding: 20px 0px
    a
        color: #000 !important

.main-blog
    .left-clm, .right-clm
        padding: 0px
        box-shadow: 0px 0px 6px 3px #0002
        border-radius: 15px
        overflow: hidden
    .left-clm
        img
            border-radius: 15px
        .main-content
            padding: 30px
        h1
            font-family: $fontManrope
            font-weight: bold
            color: #000
            font-size: 32px
        h2
            font-family: $fontManrope
            font-weight: bold
            color: #000
            font-size: 22px
            margin-top: 15px
        strong
            color: #000
        p
            margin-bottom: 12px!important 
        ol
            padding-left: 16px !important
            li
                margin-bottom: 12px !important

    .right-clm
        padding: 0px 20px !important
        margin: 0px 0px 0px 15px
        h2
            font-family: $fontManrope
            font-weight: bold
            color: #000
            font-size: 32px
            margin-top: 30px
        .recent-blog
            border: 1px solid #bbbbbb
            padding: 10px
            border-radius: 10px
            margin-bottom: 15px
            &:hover
                background: #eaf7ff !important

        .left
            width: 35%
        .right
            width: 60%
            padding: 10px
            h3
                font-size: 15px
                display: -webkit-box
                -webkit-line-clamp: 3
                -webkit-box-orient: vertical
                overflow: hidden
                text-overflow: ellipsis
                font-weight: bold
